extends ../../../templates/master.pug 
block vars
  - var title = 'Contact'

block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-10
        h1.page-header Contact the Dev
        .panel.panel-primary
          .table-responsive
            .container-contact100(style="background-image: url('../contform/images/bg-01.jpg');")
              .wrap-contact100
                form.contact100-form.validate-form
                  span.contact100-form-title
                    | Get in Touch
                  .wrap-input100.rs1-wrap-input100.validate-input(data-validate='First name is required')
                    span.label-input100 First Name *
                    input.input100(type='text', name='name', placeholder='Enter your first name')
                  .wrap-input100.rs1-wrap-input100.validate-input(data-validate='Last name is required.')
                    span.label-input100 Last Name *
                    input.input100(type='text', name='email', placeholder='Enter your last name')
                  .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
                    span.label-input100 Email *
                    input.input100(type='email', name='web', placeholder='example@abc.xyz')
                  .wrap-input100.validate-input(data-validate='Message is required')
                    span.label-input100 Message
                    textarea.input100(name='message', placeholder='Your message here...')
                  .container-contact100-form-btn
                    .wrap-contact100-form-btn
                      .contact100-form-bgbtn
                      button.contact100-form-btn
                        | Submit
              span.contact100-more
                | Call us on +001 345 6178