extends ../../../templates/master.pug 
block vars
  - var title = 'Contact'

block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-10
        h1.page-header Contact the Dev
        .panel.panel-primary
          .table-responsive
            .container-contact100(style="background-image: url('../contform/images/bg-01.jpg');")
              .wrap-contact100
                form.contact100-form.validate-form(action='/contact', method='post' id='contactForm')
                  span.contact100-form-title
                    | Get in Touch
                  .wrap-input100.rs1-wrap-input100.validate-input(data-validate='First name is required')
                    span.label-input100 First Name *
                    input.input100#fname(type='text', name='fname', placeholder='Enter your first name')
                  .wrap-input100.rs1-wrap-input100.validate-input(data-validate='Last name is required.')
                    span.label-input100 Last Name *
                    input.input100#lname(type='text', name='lname', placeholder='Enter your last name')
                  .wrap-input100.validate-input(data-validate='Message is required')
                    span.label-input100 Message
                    textarea.input100(name='message', placeholder='Your message here...')
                  .container-contact100-form-btn
                    .wrap-contact100-form-btn
                      .contact100-form-bgbtn
                      button.contact100-form-btn.fireSwal(type='submit') Submit

  script.
    $('.fireSwal').click(function(){
      e.preventDefault();
      swal({
        title: 'Sent!'
        text: 'Message sent to the developer!';
        icon: 'success',
        buttons: false,
        timer: 1100,
      })
      form.submit();
    });
