extends ../../../templates/master.pug 
block vars
  - var title = 'Dashboard'
block unique-content
  #page-wrapper
    .row
      .col-lg-10
        h1.page-header Dashboard
      .col-lg-3.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-laptop.fa-5x
              .col-xs-9.text-right
                - var sum = 0
                each eqs in storeg
                  - sum += eqs.intStorageQty
                .huge= sum
                div New Equipment
          div
            .panel-footer
              span.pull-left Arrival of new equipment this week.
              span.pull-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-wrench.fa-5x
              .col-xs-9.text-right
                .huge 0
                div Repaired Equipment
          div
            .panel-footer
              span.pull-left Repaired equipment this week.
              span.pull-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-book.fa-5x
              .col-xs-9.text-right
                .huge 0
                div Logged Requests
          div
            .panel-footer
              span.pull-left Logged transactions this week.
              span.pull-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-red
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-unlink.fa-5x
              .col-xs-9.text-right
                .huge 0
                div Def. Equipment
          div
            .panel-footer
              span.pull-left Defective equipment are seen this week.
              span.pull-right
              .clearfix
