extends ../../../templates/master.pug 
block vars
  - var title = 'Dashboard'
block unique-content
  .se-pre-con
  #page-wrapper
    .row
      .col-lg-10
        h1.page-header Dashboard
      .col-lg-3.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-laptop.fa-5x
              .col-xs-9.text-right
                - var sum = 0
                each eqs in storeg
                  - sum += eqs.intStorageQty
                .huge= sum
                div Total Equipment
          div
            .panel-footer
              span.pull-left Total equipment arrived and stored in this inventory
              span.pull-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-wrench.fa-5x
              .col-xs-9.text-right
                each emp in employee
                  .huge #{emp.totalEmployees}
                div Employees
          div
            .panel-footer
              span.pull-left Currently registered to this system
              span.pull-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-book.fa-5x
              .col-xs-9.text-right
                each oww in owners
                  .huge #{oww.totals}
                div Assigned Equipments
          div
            .panel-footer
              span.pull-left Current transactions that are deduced from the database
              span.pull-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-red
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-unlink.fa-5x
              .col-xs-9.text-right
                each depp in depts
                  .huge #{depp.deptTotal}
                div Departments
          div
            .panel-footer
              span.pull-left Departments that currently withdrew and had their equipment distributed
              span.pull-right
              .clearfix
