include ../../../templates/user-defined-scripts
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../img/icon.png')
    title Login
    link(href='../vendor/bootstrap/css/custom-style.css', rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='../../vendor/bootstrap/css/loader.css')
    script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
    .se-pre-con
    .login-page
        - var hasIncorrect = typeof incorrect !== 'undefined' ? 'Incorrect username or password.' : '';
        - var incorrectCount = 0;
        .form
            img.logImg(src="../../img/icon.png" alt="Image Title" width="80" height="80")
            br 
            br
            form.login-form(action='/login', method='post')
              input.username(type='text', placeholder='Username' name='username' onsubmit="return checkForm(this);" required)
              input.password(type='password', placeholder='••••••••' name='password' required)
              button.logindesign Login
              if hasIncorrect && incorrectCount>=1
                p.err-text(style='font-size:12px;')
                  br
                  | #{hasIncorrect}
              else
                p.message
                  | Welcome to COSOBLANCA!
    .login-footer
      a(href='https://github.com/homercade') Homer Cadena | &copy; Copyright 2019
