doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Login
    link(href='../vendor/bootstrap/css/custom-style.css', rel='stylesheet')
    .login-page
        .form
            form.login-form(action='/login', method='get')
              input#username(type='text', placeholder='Username' name='username')
              input#password(type='password', placeholder='password' name='password')
              button Login
              p.message
                | Hes
