extends ../../../templates/master.pug 
block vars
  - var title = 'Slip'
block unique-content
  #page-wrapper
    .row
      .col-lg-10
        h1.page-header Individual Slips
      .col-lg-12
        .panel.panel-default
          .panel-body
            .table-responsive
              table.table.table-hover
                thead
                  tr
                    th Employee
                    th Action
                tbody
                  each emp in emplist
                    tr
                      td #{emp.strFirstName} #{emp.strLastName}
                      td
                        a.btn.btn-primary.btn-success(href='slip/'+ emp.intZFEmpID, title='View slip for '+ emp.strFirstName +' '+ emp.strLastName, target='_blank') View Slip