include ./user-defined-scripts.pug
doctype html
html(lang='en')
  block vars
  head
    title #{title}
  body
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          a.navbar-brand(href='dashboard') COSOBLANCA 
        a.nav.navbar-brand.navbar-top-links.navbar-right(href='/' title='Logout') 
          i.fa.fa-sign-out-alt.fa-fw
          | Logout
        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav
              li
                a(href='dashboard')
                  i.fa.fa-tachometer-alt.fa-fw
                  |  Dashboard
              li
                a(href='#')
                  i.fa.fa-cogs.fa-fw
                  |  Maintenance
                  span.fa.arrow
                ul.nav.nav-second-level
                  li
                    a(href='department')
                      i.fa.fa-building.fa-fw
                      |  Department
                  li
                    a(href='unittype')
                      i.fa.fa-print.fa-fw
                      |  Unit
                  li
                    a(href='storage')
                      i.fa.fa-archive.fa-fw
                      |  Storage
                  li
                    a(href='office')
                      i.fab.fa-microsoft.fa-fw
                      |  Office Serial
                  li
                    a(href='employee')
                      i.fa.fa-user-tie.fa-fw
                      |  Employee
                  li
                    a(href='accounts')
                      i.fa.fa-user-shield.fa-fw
                      |  Accounts Setup
                // /.nav-second-level
              li
                a(href='#')
                  i.fa.fa-project-diagram.fa-fw
                  |  Transactions
                  span.fa.arrow
                ul.nav.nav-second-level
                  li
                    a(href='equipment')
                      i.fa.fa-hands-helping.fa-fw
                      |  Equipment Assignment
                  li
                    a(href='officeassign')
                      i.fab.fa-microsoft.fa-fw
                      |  MS Office Assignment
                  li
                    a(href='network')
                      i.fa.fa-network-wired.fa-fw
                      |  Network Assignment
              li
                a(href='#')
                  i.fa.fa-chart-area.fa-fw
                  |  Reports
                  span.fa.arrow
                ul.nav.nav-second-level
                  li
                    a(href='slip')
                      i.fa.fa-file-invoice-dollar.fa-fw
                      |  Individual Slip
                  li
                    a(href='invreport' target='_blank')
                      i.fa.fa-warehouse.fa-fw
                      |  Inventory Report
                  li
                    a(href='active' target='_blank')
                      i.fa.fa-snowboarding.fa-fw
                      |  Active Accounts
                  li
                    a(href='officereport' target='_blank')
                      i.fab.fa-microsoft.fa-fw
                      |  365 Office Distribution
              li
                a(href='contact')
                  i.fa.fa-mail-bulk.fa-fw
                  |  Contact
    
    block unique-content
