doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='../../img/icon.png')
    link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='../vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
    link(href='../dist/css/sb-admin-2.css', rel='stylesheet')
    link(href='../vendor/morrisjs/morris.css', rel='stylesheet')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='../vendor/jquery/jquery.js', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='../contform/css/main.css')
    link(href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet")
    //----------------------------------------------------------------------------- -//
    script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css.map')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js')
    //- --------------------------------------------------------------------------- -//
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" type='text/css')
    //- --------------------------------------------------------------------------- -//
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" type='text/javascript')
    
    script(src="https://code.jquery.com/jquery-3.3.1.js" type='text/javascript')
    script(src='../../vendor/bootstrap/js/bootstrap.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js' type='text/javascript')

    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
    script(src='../../vendor/datatables-plugins/dataTables.bootstrap.min.js')
    script(src='../../dist/js/sb-admin-2.js')

    //- Datepicker
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js') 
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css')

    script(src='../../vendor/metisMenu/metisMenu.min.js')
    link(rel='stylesheet' type='text/css' href='../../vendor/bootstrap/css/loader.css')
    script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js")
    script(src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js")
    script(src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js")
    
    script.
      $(document).ready(function() {
        $('.datatables').DataTable({
          responsive: true,
          "order": []
        });
      });
      
    script.
      $(function() {
          $(".datepicker").datepicker({ 
            endDate: "today",
            beforeShow: function(){
              jQuery( this ).datepicker({ endDate: "today" });
            },
            format: "yyyy-mm-dd" })
       });
       
    script.
      $(document).ready(function() {
        $('.datatable').DataTable({
          responsive: true
        });
      });
    //- script.
    //-   $(window).load(function() {
    //-     // Animate loader off screen
    //-     $(".se-pre-con").fadeOut("slow");
    //-   }); 
    
    script.
      var alphaOnly = /^[a-zA-Z ]+$/i;
      var alphaNumOnly = /^[a-zA-Z0-9 ]+$/i;
      var floatOnly = /^[0-9.]+$/i;
      var numOnly = /^[0-9]+$/i;
      var emailOnly = /^([A-Za-z0-9_\-.])+@([A-Za-z0-9_\-.])+\.([A-Za-z]{2,4})$/;
      var networkOnly = /^[a-zA-Z0-9:]+$/i;
      var parPropOnly = /^[a-zA-Z0-9 -]+$/i;
      
      function restrictCharacters(myfield, e, restrictionType) {
          if (!e) var e = window.event
          if (e.keyCode) code = e.keyCode;
          else if (e.which) code = e.which;
          var character = String.fromCharCode(code);
          // if they pressed esc... remove focus from field...
          if (code==27) { this.blur(); return false; }
          // ignore if they are press other keys
          // strange because code: 39 is the down key AND ' key...
          // and DEL also equals .
          if (!e.ctrlKey && code!=9 && code!=8 && (code!=39 || (code==39 && character=="'"))) {
              if (character.match(restrictionType)) {
                  return true;
              } else {
                  return false;
              }
          }
      };
    
    script.
      function checkForm(form)
      {
        if(form.inputfield.value == ""){
          swal("This field is empty!");
          form.inputfield.focus();
          return false;
        }
      }

    script.
      function togglePass(){
          var pass = document.getElementById('password');
          if(pass.type==='password'){
              pass.type = 'text';
          }
          else{
              pass.type='password';
          }
      }

    script.
      $(window).on('load', function() {
        // Animate loader off screen
        $('.se-pre-con').fadeOut('slow');
      });

    script.
      function printReports(divName) {

          var printContents = document.getElementById(divName).innerHTML;
          var originalContents = document.body.innerHTML;

          document.body.innerHTML = printContents;

          window.print();

          document.body.innerHTML = originalContents;
      }

    script.
      function firstLetter(s) {
        return s.replace(/^.{1}/g, s[0].toUpperCase());
      }